<Files ~ ".gitignore">
Order Allow,Deny
Deny from all
</Files>

<Files ~ "composer.*">
Order Allow,Deny
Deny from all
</Files>

<Files ~ "Procfile">
Order Allow,Deny
Deny from all
</Files>

<Files ~ "README.md">
Order Allow,Deny
Deny from all
</Files>

<Files "config-example.php">
Order Allow,Deny
Deny from all
</Files>

<Files "config.php">
Order Allow,Deny
Deny from all
</Files>


